      body { 
	text-align: center;
	background-color: #eeeeee;
      }

    div.centered 
    {
        text-align: center;
    }
    div.centered table 
    {
        margin: 0 auto;
        padding:0 ;
        border-collapse: collapse;
		border:0;

    }
    
    table{}
    .mycell {
        height:45px;
        width:45px;
      }
    
    img{border:0px;}

    td img {display: block;}
    
    
     table{}
    .spacercell {
        height:4.5mm;
      }
	  
	  
.scramblebutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 0px solid #121212;
    border-radius: 15px;
    background: #5a5a5a;
    background: -webkit-gradient(linear, left top, left bottom, from(#5a5a5a), to(#121212));
    background: -moz-linear-gradient(top, #5a5a5a, #121212);
    background: linear-gradient(to bottom, #5a5a5a, #121212);
    text-shadow: #090909 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.scramblebutton:hover,
.scramblebutton:focus {
    background: #6c6c6c;
    background: -webkit-gradient(linear, left top, left bottom, from(#6c6c6c), to(#161616));
    background: -moz-linear-gradient(top, #6c6c6c, #161616);
    background: linear-gradient(to bottom, #6c6c6c, #161616);
    color: #ffffff;
    text-decoration: none;
}
.scramblebutton:active {
    background: #121212;
    background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#121212));
    background: -moz-linear-gradient(top, #121212, #121212);
    background: linear-gradient(to bottom, #121212, #121212);
}	
